<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui huge message grid container centered aligned" style="background:#6f6f6f"> 
                <div class="ui huge header" style="color:#EFEFEF; font-family: 'Poiret One', cursive;"> About </div> 
            </div>
        </div>
    </div>
</div>

<div class="ui divider " ></div>

<div class="ui stackable grid container" style="color:#EFEFEF">
    <div class="eight wide column">
        <img src="https://wiki.rit.edu/download/attachments/66749476/rit_campus.jpg?version=1&modificationDate=1354033855787&api=v2"></img>
    </div>
    <div class="eight wide column">
        <div class="ui grid">
            <div class="row">
                <h1>Introduction</h1>
            </div>
            <div class="row">
                <p>Hello, my name is Jason Curry.</p>
            </div>
            
            <div class="row">
                <p>I'm a 5th year Computer Science student at RIT expecting to graduate Spring 2016.</P>
            </div>
            <div class="row">
                <p>When it comes to technology and software, I don't tend to have any boundaries. I'm down for any task and any challenge as long as I have ample time to learn and program.
                My hope is to be able to create and contribute to Free and Open Source Software (FOSS) in a significant way at some point in the future.</P>
            </div>
            <div class="row">
                <p>And as it said on the homepage, I've created this website mainly for my Global Illumination course, but it's possible that it expands to something more.</p>
            </div>
        </div>
    </div>
</div>