<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui huge message grid container centered aligned" style="background:#6f6f6f"> 
                <div class="ui huge header" style="color:#EFEFEF; font-family: 'Poiret One', cursive;"> Viiderstorm </div> 
            </div>
        </div>
    </div>
</div>

<div class="ui divider " ></div>

<div class="ui grid container" style="color:#EFEFEF">
    <div class="row">
        <h1> Introduction </h1>
    </div>
    <div class="ui eight wide column grid">
        <div class="row">
            <div>
                <p>This website is currently a work in progress mainly aimed for academic use.</p>
            </div>
        </div>
        <div class="row">
            <div >
                <p>It's main goal is to present my academic works in a Global Illumination course at the Rochester Institute of Technology. Here I'll provide my work (and potentially source code)
                for various assignments and projects throughout the course.</p>
            </div>
        </div>
        <div class="row">
            <div >
                <p>On top of that, I plan on utilizing this website as a place to host other side projects and experiments as well.</p>
            </div>
        </div>
        <div class="row">
            <div>
                <p>Because I can't really think of anything else to fill this page up with, here is an example of Global Illumination being used in Avatar</p>
            </div>
        </div>
    </div>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/3/38/Avatarjakeneytiri.jpg"></img>
    </div>
</div>